<!-- footer__seo is injected by components.js when data-seo="true" -->

<footer class="footer footer--primary">
  <div class="footer__container">
    <div class="footer__col footer__col--25">
      <h3 class="footer__title">Customer Care</h3>
      <ul class="footer__list">
        <li class="footer__item"><a href="#" class="footer__link">Help Center</a></li>
        <li class="footer__item"><a href="#" class="footer__link">How to Buy</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Corporate & Bulk Purchasing</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Returns & Refunds</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Daraz Shop</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Contact Us</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Purchase Protection</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Daraz Pick up Points</a></li>
      </ul>
    </div>

    <div class="footer__col footer__col--25">
      <h3 class="footer__title">Daraz</h3>
      <ul class="footer__list">
        <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Digital Payments</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Daraz Donates</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Daraz Blog</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Terms & Conditions</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Privacy Policy</a></li>
        <li class="footer__item footer__static-text">NTN Number : 4012118-6</li>
        <li class="footer__item footer__static-text">STRN Number : 1700401211818</li>
        <li class="footer__item"><a href="#" class="footer__link">Online Shopping App</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Online Grocery Shopping</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Daraz Exclusive</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Daraz University</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Sell on Daraz</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Join Daraz Affiliate Program</a></li>
      </ul>
    </div>

    <div class="footer__col footer__col--50">
      <div class="footer__app-section">
        <div class="footer__app-branding">
          <img src="https://img.lazcdn.com/us/domino/e07f9602-da7e-4d31-9c4f-df69a2e95325_PK-60-60.png" alt="Daraz Logo" class="footer__app-logo" />
          <div class="footer__app-text">
            <div class="footer__app-status">Happy Shopping</div>
            <div class="footer__app-label">Download App</div>
          </div>
        </div>
        <div class="footer__app-buttons">
          <a href="#"><img src="https://img.lazcdn.com/us/domino/2db6633b-c83c-48b7-9f7d-1262ee87cc80_PK-126-42.png" alt="App Store" /></a>
          <a href="#"><img src="https://img.lazcdn.com/us/domino/4812f06f-072d-45be-a930-640edf4caeee_PK-126-42.png" alt="Google Play" /></a>
          <a href="#"><img src="https://img.lazcdn.com/us/domino/7d216fe8-1bac-4ac9-81d3-072a9fbf32fc_PK-126-42.png" alt="Huawei Store" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<section class="footer footer--light">
  <div class="footer__container">
    <div class="footer__col footer__col--32">
      <h3 class="footer__title">Payment Methods</h3>
      <div class="footer__payment-list">
        <img src="https://img.lazcdn.com/us/domino/ee9913f8-8258-4382-b97e-e2047ce93012_PK-139-84.png" alt="COD" />
        <img src="https://img.lazcdn.com/us/domino/78355368-8518-4b88-9f8e-e5751ee0863a_PK-140-84.png" alt="Visa" />
        <img src="https://img.lazcdn.com/us/domino/5ba8a652-1445-45cb-a2a5-ed6043004243_PK-63-48.png" alt="Mastercard" />
        <img src="https://img.lazcdn.com/us/domino/dd8e0447-8052-44f3-8ab2-b24c56a2491f_PK-139-84.png" alt="EasyPay" />
        <img src="https://img.lazcdn.com/us/domino/e5c3cd93-b796-410f-9bfd-fbfdaa055149_PK-144-84.png" alt="Daraz Wallet" />
        <img src="https://img.lazcdn.com/us/domino/56915ba8-b2c0-4caf-b3a1-7e0f3d2d45cf_PK-139-84.png" alt="JazzCash" />
        <img src="https://img.lazcdn.com/us/domino/75489476-3c86-44ed-bf81-8b0579d56e1c_PK-139-84.png" alt="UnionPay" />
        <img src="https://img.lazcdn.com/us/domino/6668ff96-bf9a-40bd-8ce4-f7f7c0bee385_PK-144-84.png" alt="HBL" />
        <img src="https://img.lazcdn.com/us/domino/7237a412-04cc-4571-a200-44f6f847a9da_PK-144-84.png" alt="Installments" />
      </div>
    </div>

    <div class="footer__col footer__col--32">
      <h3 class="footer__title">Verified by</h3>
      <div class="footer__verified-list">
        <img src="//img.drz.lazcdn.com/g/tps/imgextra/i4/O1CN01ZaMORP1I3qlBom0V2_!!6000000000838-2-tps-73-41.png" alt="PCI Verified" />
      </div>
    </div>
  </div>
</section>

<section class="footer__bottom">
  <div class="footer__container">
    <div class="footer__col footer__col--50">
      <h3 class="footer__title">Daraz International</h3>
      <div class="footer__venture-list">
        <a href="#" class="footer__venture-item">
          <img src="https://img.lazcdn.com/us/domino/1fe7d756-2469-4d8e-82b2-d5eb7cbad875_PK-84-84.png" alt="Pakistan" />
          <span>Pakistan</span>
        </a>
        <a href="#" class="footer__venture-item">
          <img src="https://img.lazcdn.com/us/domino/05a4ef2c-095c-407d-9295-aa45b5412de0_PK-84-84.png" alt="Bangladesh" />
          <span>Bangladesh</span>
        </a>
        <a href="#" class="footer__venture-item">
          <img src="https://img.lazcdn.com/us/domino/5536488d-c32a-44eb-8307-ed6651d907da_PK-84-84.png" alt="Sri Lanka" />
          <span>Sri Lanka</span>
        </a>
        <a href="#" class="footer__venture-item">
          <img src="https://img.lazcdn.com/us/domino/8896f696-b36f-4cb1-8576-2e86eed05046_PK-84-84.png" alt="Myanmar" />
          <span>Myanmar</span>
        </a>
        <a href="#" class="footer__venture-item">
          <img src="https://img.lazcdn.com/us/domino/39f7f111-619f-47cd-993c-a551aaed15fd_PK-86-86.png" alt="Nepal" />
          <span>Nepal</span>
        </a>
      </div>
    </div>

    <div class="footer__col footer__col--25">
      <h3 class="footer__title">Follow Us</h3>
      <div class="footer__social-list">
        <a href="#" class="footer__social-link"><img src="https://img.lazcdn.com/g/tps/imgextra/i3/O1CN01Wdetn224xMIRNihao_!!6000000007457-2-tps-34-34.png" alt="Facebook" /></a>
        <a href="#" class="footer__social-link"><img src="https://img.lazcdn.com/us/domino/53d2eeea-55ed-4da7-99d6-31f9814b8e3e_PK-75-76.png" alt="X" /></a>
        <a href="#" class="footer__social-link"><img src="https://img.lazcdn.com/us/domino/f03a43e7-3655-4049-8c12-b1614ac2a2d4_PK-75-76.png" alt="Instagram" /></a>
        <a href="#" class="footer__social-link"><img src="https://img.lazcdn.com/us/domino/6bf9555a-40ae-466d-a756-907f70aa3461_PK-76-76.png" alt="Youtube" /></a>
      </div>
    </div>

    <div class="footer__col footer__col--25 footer__copyright-col">
      <div class="footer__copyright">© Daraz 2026</div>
    </div>
  </div>
</section>